$input-focus-color: rgb(49, 61, 106) !default;
$input-margin-bottom: $secondary-color;

  /* label color */
  .input-field.col.s12 label {
    color: rgb(227, 40, 96);
  }
  /* label focus color */
  .input-field.col.s12 input[type=text]:focus + label {
    color: rgb(227, 40, 96);
  }
  /* label underline focus color */
  .input-field.col.s12 input[type=text]:focus {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* valid color */
  .input-field.col.s12 input[type=text].valid {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* invalid color */
  .input-field.col.s12 input[type=text].invalid {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* icon prefix focus color */
  .input-field.col.s12 .prefix.active {
    color: rgb(227, 40, 96);
  }


  .materialize-textarea.input-field label {
    color: rgb(227, 40, 96);
  }
  /* label focus color */
  .materialize-textarea.input-field input[type=text]:focus + label {
    color: rgb(227, 40, 96);
  }
  /* label underline focus color */
  .materialize-textarea.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* valid color */
  .materialize-textarea.input-field input[type=text].valid {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* invalid color */
  .materialize-textarea.input-field input[type=text].materialize-textarea.invalid {
    border-bottom: 1px solid rgb(227, 40, 96);
    box-shadow: 0 1px 0 0 rgb(227, 40, 96);
  }
  /* icon prefix focus color */
  .materialize-textarea.input-field .prefix .active {
    color: rgb(227, 40, 96);
  }
  

.wrapForm{
  margin: 0.5% 10% 0% 10%;
  padding: 5%;
  text-align: center;
  background-color: white;
  width: 80%;
}

.buttons{
  margin: 0 20% 5% 20%;
  background-color: $primary-color;
}

.buttons:hover{
  background-color: $primary-hover;
}

.buttons:after{
  background-color: $primary-color;
}

.searchWrapper{
  text-align: center;
}

.search{
  max-width: 400pt;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30%;
}

input:not([type]):focus:not([readonly])+label,.form-wrap input[type=text]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=password]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=email]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=url]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=time]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=date]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=datetime]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=tel]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=number]:not(.browser-default):focus:not([readonly])+label,.form-wrap input[type=search]:not(.browser-default):focus:not([readonly])+label,.form-wrap textarea.materialize-textarea:focus:not([readonly])+label

{

color: $primary-color; /* after animation color change css */

}

.form-wrap input:focus:not([type]):not([readonly]),.form-wrap input[type="text"]:focus:not(.browser-default):not([readonly]),.form-wrap input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]),.form-wrap input[type="url"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]),.form-wrap input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]),.form-wrap input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]),.form-wrap input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]),.form-wrap textarea.materialize-textarea:focus:not([readonly])

{

border-bottom: 1px solid $primary-color;
box-shadow: 0 1px 0 0 $primary-color; /* after animation color change css */
}

.hidden{
  display: none;
}