.titleList{
  font-size: 2em;
  color: $secondary-color;
  padding: 2%;
}

.titleList:hover{
  color: $secondary-hover;
}

.chip{
  background-color: $light-grey;
}

.user-container{
    align-self: right;
    display: inline;
}

.userList{
  color:$terciary-color;
  font-size: 17px;
}

.flex{
  display: flex;
  justify-content: space-evenly;
}

.collection .collestion-item{
  padding: 5%;
}
