nav{
  padding: 2% 1%;
  background-color: $background-light;
  height: 12rem;
}

.nav-parent{
  box-shadow: 0px 0px;
  height: 30%;
}

.nav-wraper{
  padding: 0%;
}

.nav-text{
  font-size: 20px;
  color: $text-dark;
}

.right .hide-on-med-and-down{
  padding: 2% 0%;
}

img.circle.responsive-img{
  width: 8%;
}

ul.right .hide-on-med-and-down{
  width: 10rem;
  
}

.brand-logo{
  margin: 1% 1%;
}

button.btn{
  margin-right: 7px;
  background-color: $terciary-color;  
}
button.btn:hover{
  background-color: $terciary-hover;
}
button.btn:active{
  background-color: $terciary-color;
}
button.btn:visited{
  background-color: $terciary-color;
}

.hello-wrap{
  width: 23rem;
  display: block;
  justify-content: space-evenly;
}
