nav{
  padding: 3%;
  background-color: $background-light;
  height: 140px;
}

.nav-parent{
  box-shadow: 0px 0px;
  height: 40%;
}

.nav-text{
  color: $text-dark;
}

.nav-link:hover{
  background-color: $secondary-color;
}

button.btn{
  background-color: $terciary-color;  
}
button.btn:hover{
  background-color: $terciary-hover;
}
button.btn:active{
  background-color: $terciary-color;
}
button.btn:visited{
  background-color: $terciary-color;
}
