.row.col{
  margin: 0.5% 10% 0% 10%;
  text-align: center;
  background-color: white;
}

.singlePost{
  font-size: 2em;
  color: $secondary-color;
  padding: 2%;
}

.container{
  width: 80%;
}

.card-content{
  background-color: white;
  width: 100%;
  .material-icons{
    color: $secondary-color;
    display: inline;
  }
}


.header{
  display: flex;
  justify-content: left;
  padding: 2%;
}

.chip{
  margin: 2%;
  .material-icons{
    margin:3px 2px;
    color: $background-light;
  }:hover{
    color: $background-light;
  }
}

.cart-body{
  font-size: 20px;
}

.card-title{
  padding: 2%;
  font-size: 40px;
  color: $secondary-color !important;
}

.cart-author{
  color: $terciary-color !important;
}


.button-wrap .btn-large{
  background-color: $secondary-color;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  .material-icons{
    color: $background-light;
  }
}


.button-wrap .btn, .button-wrap .btn-large:hover{
    text-decoration: none;
    color: #fff;
    background-color: $secondary-hover;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    color: white;
  }


.button-wrap{
  border-top: 1px solid $light-grey;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.cart-comment{
  font-size: 17px;
  border-top: 1px solid $light-grey;
  justify-content: space-evenly;
  padding: 2%;
}