.row.col{
  margin: 0.5% 10% 0% 10%;
  text-align: center;
  background-color: white;
}

.singlePost{
  font-size: 2em;
  color: $secondary-color;
  padding: 2%;
}

.card-content{
  background-color: white;
  width: 100%;
}

.material-icons{
  color: $terciary-color;
}
.material-icons:hover{
  color: $terciary-hover;
}

.chip{
  margin: 2%;
}

.cart-body{
  font-size: 20px;
}

.card-title{
  font-size: 35px;
  color: $primary-color;
}

.cart-author{
  color: rgb(151, 150, 150);
}