.row.col{
  margin: 0.5% 10% 0% 10%;
  text-align: center;
  background-color: white;
}

.singlePost{
  font-size: 2em;
  color: $secondary-color;
  padding: 2%;
}

.container{
  width: 80%;
}

.card-content{
  background-color: white;
  width: 100%;
}

.material-icons{
  color: $terciary-color;
}
.material-icons:hover{
  color: $terciary-hover;
}

.chip{
  margin: 2%;
}

.cart-body{
  font-size: 20px;
}

.card-title{
  padding: 2%;
  font-size: 40px;
  color: $secondary-color !important;
}

.cart-author{
  color: $terciary-color;
}

button.btn.single-post{
  background-color: rgba(255, 255, 255, 0);
  .btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
  }
  .btn i{
    color: $primary-color;
  }
}

button.btn.single-post:hover{
  .btn, .btn-large, i {
    text-decoration: none;
    color: #fff;
    background-color: $terciary-hover;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    color: white;
  }
}

.button-wrap{
  border-top: 1px solid $light-grey;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.cart-comment{
  font-size: 17px;
  border-top: 1px solid $light-grey;
  justify-content: space-evenly;
  padding: 1%;
}