//Wonder color pallete:
$background-light: rgb(242, 242, 242);
$primary-color:rgb(227, 40, 96);
$primary-hover:rgb(193, 36, 83);
$secondary-color: rgb(49, 61, 106);
$secondary-hover: rgb(33, 41, 72);
$terciary-color: rgb(246, 202, 59);
$terciary-hover: rgb(219, 180, 52);

@import "partials/_form";
@import "partials/_list";
@import "partials/_single";

body{
  background-color: $background-light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
}

.nav-extended{
  padding: 2%;
  background-color: $secondary-color;
}
